# Integrando API (Avançado)

In [2]:
# Instalando bibliotecas necessárias para reqlizar a requisição a API DataSUS

!pip install pandas --upgrade
import requests
import json
from requests.auth import HTTPBasicAuth
import pandas as pd

# Link URL da API
url = "https://imunizacao-es.saude.gov.br/desc-imunizacao/_search"

payload = json.dumps({
  "size": 10000
})

headers = {
  'Authorization': 'Basic aW11bml6YWNhb19wdWJsaWM6cWx0bzV0JjdyX0ArI1Rsc3RpZ2k=',
  'Content-Type': 'application/json'
}

# Realizando a requisição e aguardando informações
response = requests.request("POST", url, headers=headers, data=payload)

#print(response.text)

Requirement already up-to-date: pandas in /opt/anaconda3/lib/python3.6/site-packages (1.1.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /opt/anaconda3/lib/python3.6/site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /opt/anaconda3/lib/python3.6/site-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /opt/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)

In [3]:
covid = response.json()

In [4]:
df = pd.json_normalize(covid['hits']['hits'])

In [ ]:
df

In [ ]:
# Observei que os dados recebidas pela API refere-se a Registros de Vacinação COVID19 e não aos dados solicitados no projeto como Recuperados, Confirmados e óbitos. Desta forma daremos continuidade com os dados via download.

# QUESTÃO 01 - Enviar dados para o HDFS

In [6]:
# Consultar arquivos na pasta /user/celso do HDFS
!hdfs dfs -ls /user/celso

Found 6 items
drwxr-xr-x   - root supergroup          0 2022-12-06 02:14 /user/celso/Covid19
drwxr-xr-x   - root supergroup          0 2022-11-29 23:38 /user/celso/data
drwxr-xr-x   - root supergroup          0 2022-11-30 00:15 /user/celso/log_count_word
drwxr-xr-x   - root supergroup          0 2022-12-01 18:58 /user/celso/logs_count_word_5
drwxr-xr-x   - root supergroup          0 2022-12-02 19:46 /user/celso/names_us_orc
drwxr-xr-x   - root supergroup          0 2022-12-02 20:15 /user/celso/teste_csv

In [7]:
# Criar pasta /user/celso/Covid19
!hdfs dfs -mkdir /user/celso/Covid19

mkdir: `/user/celso/Covid19': File exists

In [8]:
# Instalar WGET no Linux para fazer o download do arquivo
!apt-get update && apt-get install -y wget

Get:1 http://security.debian.org stretch/updates InRelease [59.1 kB]
Ign:2 http://deb.debian.org/debian stretch InRelease
Hit:3 http://deb.debian.org/debian stretch-updates InRelease
Hit:4 http://deb.debian.org/debian stretch Release
Fetched 59.1 kB in 1s (47.1 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
wget is already the newest version (1.18-5+deb9u3).
0 upgraded, 0 newly installed, 0 to remove and 54 not upgraded.

In [9]:
# Realizando o download do arquivo
!wget "https://mobileapps.saude.gov.br/esus-vepi/files/unAFkcaNDeXajurGB7LChj8SgQYS2ptm/04bd3419b22b9cc5c6efac2c6528100d_HIST_PAINEL_COVIDBR_02dez2022.rar"

--2022-12-06 22:24:08--  ftp://blob/https://covid.saude.gov.br/92692602-a2c4-4126-841b-aa8d62279a00
           => ‘92692602-a2c4-4126-841b-aa8d62279a00’
Resolving blob (blob)... failed: Temporary failure in name resolution.
wget: unable to resolve host address ‘blob’

In [ ]:
# Verificando se o arquivo foi baixado
!ls

In [9]:
# instalando descompactador p7zip
#!apt-get install p7zip-full -y
!apt-get install unrar-free
# descomapctando arquivo
!unrar x "HIST_PAINEL_COVIDBR_02dez2022.rar" -y

Reading package lists... Done
Building dependency tree
Reading state information... Done
unrar-free is already the newest version (1:0.0.1+cvs20140707-1+deb9u1).
0 upgraded, 0 newly installed, 0 to remove and 54 not upgraded.

unrar 0.0.1  Copyright (C) 2004  Ben Asselstine, Jeroen Dekkers


Extracting from /mnt/notebooks/HIST_PAINEL_COVIDBR_02dez2022.rar

unknown archive type, only plain RAR 2.0 supported(normal and solid archives), SFX and Volumes are NOT supported!
All OK

In [4]:
# Verificando se o arquivo foi descompactador
!ls

HIST_PAINEL_COVIDBR_02dez2022.rar	       Projeto_Semantix.ipynb
HIST_PAINEL_COVIDBR_2020_Parte1_02dez2022.csv  Projeto_Semantix.ipynb.invalid
HIST_PAINEL_COVIDBR_2020_Parte2_02dez2022.csv  Treinamento_Spark.ipynb
HIST_PAINEL_COVIDBR_2021_Parte1_02dez2022.csv  Untitled.ipynb
HIST_PAINEL_COVIDBR_2021_Parte2_02dez2022.csv  spark-warehouse
HIST_PAINEL_COVIDBR_2022_Parte1_02dez2022.csv  teste.ipynb
HIST_PAINEL_COVIDBR_2022_Parte2_02dez2022.csv  teste_spark.ipynb
Projeto Semantix.ipynb			       util
Projeto_Semantix-Copy1.ipynb

In [13]:
# Enviando arquivos para o HDFS
!hdfs dfs -put *.csv /user/celso/Covid19

In [1]:
# Consultar arquivos na pasta Covid do HDFS
!hdfs dfs -ls /user/celso/Covid19

Found 6 items
-rw-r--r--   2 root supergroup   62493275 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2020_Parte1_02dez2022.csv
-rw-r--r--   2 root supergroup   76520606 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2020_Parte2_02dez2022.csv
-rw-r--r--   2 root supergroup   91120853 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2021_Parte1_02dez2022.csv
-rw-r--r--   2 root supergroup   93414239 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2021_Parte2_02dez2022.csv
-rw-r--r--   2 root supergroup   91807916 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2022_Parte1_02dez2022.csv
-rw-r--r--   2 root supergroup   78935347 2022-12-06 02:14 /user/celso/Covid19/HIST_PAINEL_COVIDBR_2022_Parte2_02dez2022.csv

In [ ]:
# Consultar no HDFS um arquivos para entender a estrutura
!hdfs dfs -cat /user/celso/Covid19/HIST_PAINEL_COVIDBR_2020_Parte1_02dez2022.csv

# QUESTÃO 02 - Otimizar todos os dados do hdfs para uma tabela Hive particionada por município.

In [ ]:
"""
# Poderiamos fazer o procedimento no Hive Server, poré

docker exec -it hive-server bash

# Acessar o Beeline

beeline -u jdbc:hive2://192.168.1.2:10000
"""

In [16]:
# Lendo os arquivo e grando DataFrame
covid = spark.read.csv("/user/celso/Covid19/",mode="overwrite", header="true", sep=";")

In [17]:
# Visualizando o DataFrame

covid.limit(10).toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,None,None,76,None,None,None,2021-07-01,26,210147125,18622304,65163,520095,2029,16858632,1180443,None
1,Brasil,None,None,76,None,None,None,2021-07-02,26,210147125,18687469,65165,521952,1857,16931272,1170937,None
2,Brasil,None,None,76,None,None,None,2021-07-03,26,210147125,18742025,54556,523587,1635,16989351,1176166,None
3,Brasil,None,None,76,None,None,None,2021-07-04,27,210147125,18769808,27783,524417,830,17033808,1184630,None
4,Brasil,None,None,76,None,None,None,2021-07-05,27,210147125,18792511,22703,525112,695,17082876,1162515,None
5,Brasil,None,None,76,None,None,None,2021-07-06,27,210147125,18855015,62504,526892,1780,17151673,1115726,None
6,Brasil,None,None,76,None,None,None,2021-07-07,27,210147125,18909037,54022,528540,1648,17262646,1065477,None
7,Brasil,None,None,76,None,None,None,2021-07-08,27,210147125,18962762,53725,530179,1639,17352670,1027827,None
8,Brasil,None,None,76,None,None,None,2021-07-09,27,210147125,19020499,57737,531688,1509,17422854,1009729,None
9,Brasil,None,None,76,None,None,None,2021-07-10,27,210147125,19069003,48504,532893,1205,17479277,1009534,None

In [ ]:
covid = covid.withColumnRenamed("interior/metropolitana","interior_metropolitana")
covid.show()

In [21]:
# Visualizando o Schema da tabela
covid.printSchema()

root
 |-- regiao: string (nullable = true)
 |-- estado: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- coduf: string (nullable = true)
 |-- codmun: string (nullable = true)
 |-- codRegiaoSaude: string (nullable = true)
 |-- nomeRegiaoSaude: string (nullable = true)
 |-- data: string (nullable = true)
 |-- semanaEpi: string (nullable = true)
 |-- populacaoTCU2019: string (nullable = true)
 |-- casosAcumulado: string (nullable = true)
 |-- casosNovos: string (nullable = true)
 |-- obitosAcumulado: string (nullable = true)
 |-- obitosNovos: string (nullable = true)
 |-- Recuperadosnovos: string (nullable = true)
 |-- emAcompanhamentoNovos: string (nullable = true)
 |-- interior_metropolitana: string (nullable = true)

In [ ]:
# Criar DB covid usando o sqlContext.sql
sqlContext.sql("create database covid")

In [16]:
# Selecionar Base de dados que sera utilizada
sqlContext.sql("use covid")

DataFrame[]

In [5]:
covid.write.saveAsTable("covid_no_partition")

In [22]:
# Visualiando tabela
sqlContext.sql("select * from covid_no_partition limit 10").toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior_metropolitana
0,Brasil,None,None,76,None,None,None,2021-01-01,53,210147125,7700578,24605,195411,462,6747065,733959,None
1,Brasil,None,None,76,None,None,None,2021-01-02,53,210147125,7716405,15827,195725,314,6756284,748883,None
2,Brasil,None,None,76,None,None,None,2021-01-03,1,210147125,7733746,17341,196018,293,6769420,751260,None
3,Brasil,None,None,76,None,None,None,2021-01-04,1,210147125,7753752,20006,196561,543,6813008,724720,None
4,Brasil,None,None,76,None,None,None,2021-01-05,1,210147125,7810400,56648,197732,1171,6875230,681961,None
5,Brasil,None,None,76,None,None,None,2021-01-06,1,210147125,7873830,63430,198974,1242,6963407,649261,None
6,Brasil,None,None,76,None,None,None,2021-01-07,1,210147125,7961673,87843,200498,1524,7036530,638326,None
7,Brasil,None,None,76,None,None,None,2021-01-08,1,210147125,8013708,52035,201460,962,7096931,664244,None
8,Brasil,None,None,76,None,None,None,2021-01-09,1,210147125,8075998,62290,202631,1171,7114474,697774,None
9,Brasil,None,None,76,None,None,None,2021-01-10,2,210147125,8105790,29792,203100,469,7144011,729356,None

In [2]:
# Criar a tabela particionada
sqlContext.sql("create table covid_partition(regiao string, estado string, municipio string, coduf string, codRegiaoSaude string, nomeRegiaoSaude string, data string, semanaEpi string, populacaoTCU2019 string, casosAcumulado string, casosNovos string, obitosAcumulado string, obitosNovos string, Recuperadosnovos string, emAcompanhamentoNovos string, interior_metropolitana string) partitioned by (codmun string) row format delimited fields terminated by ';'")

DataFrame[]

In [2]:
# Definir partição dinamica como nostrict
sqlContext.sql("set hive.exec.dynamic.partition.mode=nonstrict")

DataFrame[key: string, value: string]

In [ ]:
covid.write.saveAsTable(name='covid_partition', partitionBy='municipio', format='csv', mode='overwrite')

In [3]:
# ALimentar tabela particionada com os dados presentes na tabela não particionada
# Optei por participnar pelo cod do municipio ao invés do nome em virtude a problema que tive com caracteres especiais e tamanho
sqlContext.sql("insert overwrite table covid_partition partition(codmun) select regiao, estado, municipio, coduf, codRegiaoSaude, nomeRegiaoSaude, data, semanaEpi, populacaoTCU2019, casosAcumulado, casosNovos, obitosAcumulado, obitosNovos, Recuperadosnovos, emAcompanhamentoNovos, interior_metropolitana, codmun from covid_no_partition")

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1159, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 985, in send_command
    response = connection.send_command(command)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1164, in send_command
    "Error while receiving", e, proto.ERROR_ON_RECEIVE)
py4j.protocol.Py4JNetworkError: Error while receiving
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35737)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-7e661565c926>", line 3, in <module>
    sqlContext.sql("insert overwrite table covid_partition partition(codmun) select regiao, estado, municipio, coduf, codRegiaoSaude, nomeRegiaoSaude, data, semanaEpi, populacaoTCU2019, casosAcumulado, casosNovos, obitosAcumulado, obitosNovos, Recuperadosnovos, emAcompanhamentoNovos, interior_metropolitana, codmun from covid_no_partition")
  File "/opt/spark/python/pyspark/sql/context.py", line 358, in sql
    return self.sparkSession.sql(sqlQuery)
  File "/opt/spark/python/pyspark/sql/session.py", line 767, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/opt/spark/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 336, in get_return_value
    format(target_id, ".", name))
py4j.protocol.Py4JError: An error occurred while calling o38.sql

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1863, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:35737)
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-3-7e661565c926>", line 3, in <module>
    sqlContext.sql("insert overwrite table covid_partition partition(codmun) select regiao, estado, municipio, coduf, codRegiaoSaude, nomeRegiaoSaude, data, semanaEpi, populacaoTCU2019, casosAcumulado, casosNovos, obitosAcumulado, obitosNovos, Recuperadosnovos, emAcompanhamentoNovos, interior_metropolitana, codmun from covid_no_partition")
  File "/opt/spark/python/pyspark/sql/context.py", line 358, in sql
    return self.sparkSession.sql(sqlQuery)
  File "/opt/spark/python/pyspark/sql/session.py", line 767, in sql
    return DataFrame(self._jsparkSession.sql(sqlQuery), self._wrapped)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1257, in __call__
    answer, self.gateway_client, self.target_id, self.name)
  File "/opt/spark/python/pyspark/sql/utils.py", line 63, in deco
    return f(*a, **kw)
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/protocol.py", line 336, in get_return_value
    format(target_id, ".", name))
py4j.protocol.Py4JError: An error occurred while calling o38.sql

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1863, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 929, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/spark/python/lib/py4j-0.10.7-src.zip/py4j/java_gateway.py", line 1067, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JError: An error occurred while calling o38.sql

In [2]:
# Visualiando tabela particionada
sqlContext.sql("select * from covid_partition limit 10").toPandas()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior_metropolitana
0,Brasil,None,None,76,None,None,None,2021-01-01,53,210147125,7700578,24605,195411,462,6747065,733959,None
1,Brasil,None,None,76,None,None,None,2021-01-02,53,210147125,7716405,15827,195725,314,6756284,748883,None
2,Brasil,None,None,76,None,None,None,2021-01-03,1,210147125,7733746,17341,196018,293,6769420,751260,None
3,Brasil,None,None,76,None,None,None,2021-01-04,1,210147125,7753752,20006,196561,543,6813008,724720,None
4,Brasil,None,None,76,None,None,None,2021-01-05,1,210147125,7810400,56648,197732,1171,6875230,681961,None
5,Brasil,None,None,76,None,None,None,2021-01-06,1,210147125,7873830,63430,198974,1242,6963407,649261,None
6,Brasil,None,None,76,None,None,None,2021-01-07,1,210147125,7961673,87843,200498,1524,7036530,638326,None
7,Brasil,None,None,76,None,None,None,2021-01-08,1,210147125,8013708,52035,201460,962,7096931,664244,None
8,Brasil,None,None,76,None,None,None,2021-01-09,1,210147125,8075998,62290,202631,1171,7114474,697774,None
9,Brasil,None,None,76,None,None,None,2021-01-10,2,210147125,8105790,29792,203100,469,7144011,729356,None

In [3]:
# Consultar se as particoes foram criadas
!hdfs dfs -ls /user/hive/warehouse/covid.db/covid_partition

# QUESTÃO 03 - Criar as 3 vizualizações pelo Spark com os dados enviados para o HDFS

In [10]:
# Visualização 01 - Casos Recuprador
Casos_Recuperados_DF = sqlContext.sql("select format_number(sum(Recuperadosnovos),0) as Casos_Recuperados\
                      ,format_number(sum(emAcompanhamentoNovos),0) as Em_Acompanhamento\
                       from covid_no_partition")
Casos_Recuperados_DF.show(10)

+-----------------+-----------------+
|Casos_Recuperados|Em_Acompanhamento|
+-----------------+-----------------+
|   16,537,640,119|      629,300,894|
+-----------------+-----------------+

In [7]:
# EXEC 3 CASO CONFIRMADOS
Casos_Confirmados_DF = spark.sql("select format_number((sum(Recuperadosnovos)+ sum(emAcompanhamentoNovos)+ (sum(obitosAcumulado))),0) as Acumulado,\
 (select format_number(sum(casosNovos),0) from covid_no_partition where data = '2021-07-05') as Casos_Novos,\
  (format_number((((sum(Recuperadosnovos) + sum(emAcompanhamentoNovos) + (sum(obitosAcumulado))) *100000))/(sum(populacaoTCU2019)), 0)) as Incidencia\
  from covid_no_partition where data = '2021-07-06' ")
Casos_Confirmados_DF.limit(10).toPandas()

    Acumulado Casos_Novos Incidencia
0  19,848,075      68,109      3,148

In [8]:
# EXEC 3 ÓBITOS CONFIRMADOS
Casos_Obtos_DF = spark.sql("select format_number(((sum(obitosAcumulado))),0) as Obitos_acumulados, \
(select format_number(sum(obitosNovos),0) from covid_no_partition where data = '2021-07-05') as Obitos_novos, \
round(((sum(obitosAcumulado)) * 100) / (sum(Recuperadosnovos) + sum(emAcompanhamentoNovos) + (sum(obitosAcumulado))),2) as Letalidade, \
round(((((sum(obitosAcumulado))) * 100000)) / sum(populacaoTCU2019), 2) as Mortalidade \
from covid_no_partition where data = '2021-07-06'")
Casos_Obtos_DF.limit(10).toPandas()

  Obitos_acumulados Obitos_novos  Letalidade  Mortalidade
0         1,580,676        2,085        7.96       250.73

# QUESTÃO 04 - Salvar a primeira visualização como tabela Hive

In [11]:
# Exec 4  Criando a tabela no HIVE
Casos_Recuperados_DF.write.saveAsTable("Casorecuperados_view1")

In [12]:
# Exec 4 Lendo dataFrame
spark.read.table("Casorecuperados_view1").show(10)

+-----------------+-----------------+
|Casos_Recuperados|Em_Acompanhamento|
+-----------------+-----------------+
|   16,537,640,119|      629,300,894|
+-----------------+-----------------+

# QUESTÃO 05 - Salvar a segunda visualização com formato parquet e compressão snappy

In [14]:
# exec 5 criar uma pasta para armazenamento da visualização 2
!hdfs dfs -mkdir -p /user/celso/covid/exec5

In [15]:
# Validando a criação da pasta
!hdfs dfs -ls /user/celso/covid/

Found 1 items
drwxr-xr-x   - root supergroup          0 2022-12-08 05:28 /user/celso/covid/exec5

In [17]:
# exec 5 Salvando em parquet com compressão snappy 
# Obs: Necessario importar a lib parquet-hadoop-bundle-1.6.0.jar para formato parquet
# baixar via curl -O https://repo1.maven.org/maven2/com/twitter/parquet-hadoop-bundle/1.6.0/parquet-hadoop-bundle-1.6.0.jar
# copiar via docker cp parquet-hadoop-bundle-1.6.0.jar spark:/opt/spark/jars

Casos_Confirmados_DF.write.mode('overwrite').option("compression", "snappy").parquet("/user/celso/covid/exec5/")

In [18]:
# Visualizar arquivos apos gravação
covid_view_parquet = spark.read.parquet('/user/celso/covid/exec5/')

covid_view_parquet.first()

Row(Acumulado='19,848,075', Casos_Novos='68,109', Incidencia='3,148')